.local/bin/tmux-project-dirs
.local/bin/black
.local/bin/blackd
.local/bin/autopep8
.local/bin/dmypy
.local/bin/epylint
.local/bin/flake8
.local/bin/get_objgraph
.local/bin/isort
.local/bin/isort-identify-imports
.local/bin/mypy
.local/bin/mypyc
.local/bin/pycodestyle
.local/bin/pydocstyle
.local/bin/pyflakes
.local/bin/pylint
.local/bin/pylint-config
.local/bin/pyls
.local/bin/pylsp
.local/bin/pyreverse
.local/bin/stubgen
.local/bin/stubtest
.local/bin/symilar
.local/bin/undill
.local/bin/yapf
.local/bin/yapf-diff
.local/bin/nvr
